/venv
/album_covers
yolov8n.pt
last_processed.txt
spotify_data_with_image_features.csv
spotify_data_with_image_paths.csv
test_data.csv
cleaned_data.csv
cleaned_data_both_efficientnet_v2_features.pkl
result.csv
cleaned_data_both_efficientnet_v2_features.csv
.env